@import "tailwindcss";

@theme {
  --color-brand-primary: #BF2A0C;
  --color-brand-dark-gray: #6D5C55;
  --color-brand-page-bg: #CBA7A2;
  --font-family-playfair: var(--font-playfair-display), serif;
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair-display, 'Playfair Display'), 'Playfair Display', serif !important;
}
